/********************************
    CUSTOM PROPS
********************************/
:root {
  /* palette */
  --header-bg: #090c118a;
  --body-bg: #141922;
  --sidebar-bg: #000000;
  --footer-bg: #282828;
  --text-color-1: #5a5a5a;
  --text-color-2: #f9f9f9;
  --active-color: rgba(176, 250, 47, 1);

  /* spacing */
  --base-space: 8px;
  --logo-h: 45px;
  --header-h: calc(var(--logo-h) + var(--base-space) * 2);
  --sidebar-l: 250px;
  --icon-h: calc(var(--logo-h) / 1.5);
  --rnd-btn-diameter: 15px;
  --user-img-h: calc(var(--logo-h) / 1.5);
  --footer-h: 100px;
  --footer-player-l: 700px;
  --bar-h: 3px;
  --active-bar-thick: 3px;
}

/********************************
    RESET
********************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  color: var(--text-color-1);
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

/* titles */
h2,
h3 {
  color: var(--text-color-2);
}

/*******************************
    DEBUG
*******************************/
.debug {
  background-color: azure;
  border: 2px dotted blue;
  padding: 20px;
}

/*******************************
    GRID
*******************************/
.container {
  margin-top: calc(var(--base-space) * 2);
  padding: var(--base-space);
}

.row {
  margin: calc(-1 * var(--base-space));
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: var(--base-space);
}

/*******************************
    UTILITY
*******************************/
.d-flex {
  display: flex;
}

.overf-hidden {
  overflow: hidden;
}

/* link */
.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: var(--text-color-2);
}

/* buttons */
.btn {
  border-radius: 50px;
  border: 2px solid var(--text-color-2);
  padding: var(--base-space) calc(var(--base-space) * 5);
  color: var(--text-color-2);
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
}

.btn-round {
  border-radius: 50%;
  border: 2px solid var(--text-color-1);
  padding: 0;
  width: var(--rnd-btn-diameter);
  aspect-ratio: 1;
  color: var(--text-color-1);
  line-height: calc(var(--rnd-btn-diameter) * 0.8);
  text-align: center;
}

/* nav lists */
nav .list {
  list-style: none;
}

nav .nav__title {
  text-transform: uppercase;
}

nav li,
nav .nav__title,
nav > .link {
  padding: calc(var(--base-space) / 2) 0;
}

nav .hor-nav__li {
  display: inline-block;
  padding: var(--base-space);
}

.link__icon {
  height: var(--icon-h);
}

/* link active */
.link.active {
  color: var(--text-color-2);
}

/* round images */
.img-round {
  border-radius: 50%;
  aspect-ratio: 1;
  overflow: hidden;
}

/* items to be shown only in hover */
.hover-show {
  display: none;
}

/*******************************
    APP-TOP
*******************************/
#app__top {
  height: calc(100vh - var(--footer-h));
}

/** SIDEBAR **/
#app__sidebar {
  /* padding: var(--base-space); */
  width: var(--sidebar-l);
  background-color: var(--sidebar-bg);

  flex-shrink: 0;
  flex-direction: column;
}

/* spacing */
#app__sidebar .sidebar__cnt {
  padding: 0 var(--base-space);
}

#app__sidebar .sidebar__cnt:first-child {
  padding-top: var(--base-space);
}

#app__sidebar .sidebar__cnt:last-child {
  padding-bottom: var(--base-space);
}

#app__sidebar .link.d-flex {
  align-items: center;
  gap: var(--base-space);
}

/* link icon hover */
#app__sidebar .link:hover .link__icon {
  filter: invert(0%) sepia(100%) saturate(2%) hue-rotate(211deg)
    brightness(111%) contrast(101%);
}

/* LOGO */
[id*="app__logo"] > img {
  height: var(--logo-h);
}

#app__logo-xs {
  display: none;
}

/* APP NAV */
#app__nav.sidebar__cnt {
  padding-left: calc(var(--base-space) / 2);
}

#app__nav .link {
  padding-left: calc(var(--base-space) / 2);
}

#app__nav .link.active {
  box-shadow: calc(-1 * var(--active-bar-thick)) 0px 0px 0px var(--active-color);
  z-index: 1;
}

#app__nav .link.active .link__icon {
  filter: invert(0%) sepia(100%) saturate(2%) hue-rotate(211deg)
    brightness(111%) contrast(101%);
}

/* link icon colour */
#app__nav .link__icon {
  filter: invert(36%) sepia(14%) saturate(0%) hue-rotate(221deg) brightness(85%)
    contrast(81%);
}

/* PLAYLIST NAV */
#playlist__nav {
  height: calc(
    100vh - var(--footer-h) - var(--logo-h) - var(--icon-h) * 3 -
      var(--rnd-btn-diameter) - var(--user-img-h) - var(--base-space) * 11
  );
}

#playlist__nav .ver-nav__list {
  overflow: auto;
  height: 100%;
}

#playlist__nav .link__icon {
  height: var(--logo-h);
  aspect-ratio: 1;
  backdrop-filter: invert(36%) sepia(14%) saturate(0%) hue-rotate(221deg)
    brightness(85%) contrast(81%);
  color: var(--body-bg);
  font-size: 3rem;
  text-align: center;
  line-height: calc(var(--logo-h) * 0.9);
}

/* USER INFO */
#user-info {
  margin-top: auto;
}

#user-info .user-info__element {
  margin-top: var(--base-space);
  align-items: center;
  gap: var(--base-space);
}

/* download */
#user-info .download__text {
  font-size: 0.8rem;
}

#user-info .download__btn {
  font-size: 0.5rem;
}

#user-info .link:hover .download__btn {
  border: 2px solid var(--text-color-2);
  color: var(--text-color-2);
}

/* user info */
#user-info .user__img {
  height: var(--user-img-h);
  background-color: var(--text-color-1);
}

#user-info .user__name {
  color: var(--text-color-2);
  font-weight: 700;
}

/** MAIN **/
#app__main {
  flex-grow: 1;

  overflow: auto;
}

/* MAIN HEADER */
#main__header {
  height: var(--header-h);
  background-color: var(--header-bg);
  line-height: calc(var(--header-h) / 1.1);
  text-align: right;

  position: sticky;
  top: 0;
  z-index: 1;
}

#main__header > .btn {
  margin-right: 20px;
  font-size: 1.1rem;
  vertical-align: middle;
}

/* hover effects */
#main__header .btn:hover {
  /* og-padding: var(--base-space) 40px; */
  padding: calc(var(--base-space) * 1.2) calc(var(--base-space) * 7.5);
  font-size: 1.2rem;
}

/* MAIN BODY */
#main__body h2,
#main__body .container > h4 {
  padding-bottom: var(--base-space);
}

#main__body .col {
  width: calc(100% / 6);
}

/* navbar */
#main__nav {
  text-align: center;
  text-transform: uppercase;
}

#main__nav li {
  text-align: center;
}

#main__nav .link.active:after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(var(--base-space) / 2);
  height: var(--active-bar-thick);
  width: calc(var(--base-space) * 5);
  background-color: var(--active-color);
}

/* main cards */
#main__body .card {
  text-align: center;
}

#main__body .card__element {
  padding-bottom: var(--base-space);
}

#main__body .card .img-round {
  padding: 0;
  margin-bottom: var(--base-space);
}

#main__body .img-round img {
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
}

/* hover effects */
#main__body .card figure {
  position: relative;
}

#main__body .card .card__play-bg {
  background-color: var(--header-bg);
  width: 100%;
  aspect-ratio: 1;

  position: absolute;
  top: 0;
  z-index: 1;
}

#main__body .card .card__play {
  font-size: 5rem;
  color: var(--text-color-2);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#main__body .card:hover .hover-show {
  display: block;
}

/********************************
    FOOTER
********************************/
#app__footer {
  padding: var(--base-space);
  background-color: var(--footer-bg);
  height: var(--footer-h);
  color: var(--text-color-2);

  justify-content: space-between;
}

#footer__song,
#footer__right {
  width: var(--sidebar-l);
}

/* progress bars */
#app__footer .pr-bar__bar {
  height: var(--bar-h);
  background-color: var(--text-color-1);

  flex-grow: 1;
}

#app__footer .pr-bar__bar:hover {
  cursor: pointer;
}

#app__footer .pr-bar__percentage-bar {
  width: 20%;
  height: 100%;
  background-color: var(--text-color-2);

  position: relative;
}

#app__footer .pr-bar__progress-dot {
  border-radius: 50%;
  height: calc(var(--bar-h) * 4);
  aspect-ratio: 1;
  background-color: var(--text-color-2);
  /* border: 1px solid green; */

  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

#app__footer .pr-bar:hover .hover-show {
  display: block;
}

#app__footer .pr-bar:hover .pr-bar__percentage-bar {
  background-color: var(--active-color);
}

/** FOOTER LEFT **/
#footer__song {
  width: var(--sidebar-l);

  justify-content: space-between;
}

#footer__song [class*="song"].d-flex {
  align-items: center;
  gap: var(--base-space);

  font-size: 0.8rem;
}

#footer__song .song__img {
  height: var(--logo-h);
  aspect-ratio: 1;
}

#footer__song .song__actions.d-flex {
  padding-right: calc(var(--base-space) * 2);
  color: var(--text-color-1);
  font-size: 1.1rem;

  gap: calc(var(--base-space) * 2);
}

/* hover effects */
#footer__song:hover {
  cursor: pointer;
}

#footer__song:hover .song__title {
  text-decoration: underline;
}

/** FOOTER PLAYER **/
/* footer actions */
#footer__player {
  width: 50%;
  max-width: var(--footer-player-l);
}

#footer__player .player__actions {
  padding: var(--base-space) 0;

  justify-content: center;
  align-items: center;
  gap: calc(var(--base-space) * 4);
}

#footer__player .play-btn {
  font-size: 1.5rem;
}

/* hover effects */
#footer__player .player__actions i {
  cursor: pointer;
}

#footer__player .play-btn:hover {
  font-size: 1.8rem;
}

/* progress bar */
#footer__player .pr-bar {
  padding-top: calc(var(--base-space) * 1.5);
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--base-space) * 2);
}

#footer__player [class*="time"] {
  font-size: 0.7rem;
}

/**  FOOTER RIGHT **/
#footer__actions {
  width: var(--sidebar-l);
  font-size: 0.7rem;

  justify-content: flex-end;
  align-items: center;
  gap: calc(var(--base-space) * 1.5);
}

/* hover effects */
#footer__actions > i {
  cursor: pointer;
}

/* progress bar */
#footer__actions .pr-bar {
  max-width: 400px;
  width: 60%;
}
