/* ######  custom-props ####  */

/*  PALETTE */

:root {
  --navbar-bg-color: rgb(0, 0, 0);
  --body-bg-color: rgb(20, 25, 34);
  --player-bg-color: rgb(29, 29, 29);
  --text-primary-color: white;
  --text-secondary-color: rgb(123, 125, 130);

  /* LAYOUT */

  --player-height: 120px;
  --app-navbar-width: 50px;
  --app-navbar-expanded: 200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* **** UTILS***** */

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

/* **** CLASS DEBUG***** */

.debug {
  min-height: 80px;
  border: 2px solid white;
  padding: 1 rem;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: var(--body-bg-color);
  color: var(--text-primary-color);
  list-style: none;
}
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ##### APP TOP */

#app-top {
  height: calc(100vh - var(--player-height));
  display: flex;
}

/* ##### APP NAVBAR */
#app-navbar {
  width: var(--app-navbar-width);
  background-color: var(--navbar-bg-color);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 23px;
  color: var(--text-secondary-color);
}

#app-navbar :last-child {
  margin-top: auto;
}

#app-navbar .logo {
  display: none;
}

#app-navbar .logo {
  display: none;
}

.navbar-item {
  width: 100%;
}

.navbar-item .navbar-text-link {
  width: 100%;
}

#app-navbar .navbar-img-link {
  display: inline;
}

#app-navbar .navbar-img-link,
#app-navbar .logo-small {
  width: 30px;
  /* text-align: center; */
}

#app-navbar .navbar-text-link {
  display: none;
}

#app-navbar .playlist {
  display: none;
}

.add-playlist {
  padding: 10px;
  width: 20%;
}
.list-playlist {
  line-height: 2;
}
/* .navbar-item .playlist {
  display: none;
} */

/* .navbar-item .playlist {
  display: none;
} */

/* ##### APP MAIN */

.main-list {
  display: inline-block;
  font-size: small;
  padding: 10px;
}

/* ##### APP MAIN CONTENT */
#app-main {
  flex-grow: 1;
  height: 100%;
  overflow: auto;
}
#main-top-bar {
  height: 120px;
  background-color: rgb(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.btn {
  padding: 10px;
  background-color: var(--navbar-bg-color);
  border: 1px solid #c9cacb;
  border-radius: 12px;
  color: #c9cacb;
  right: 10px;
  top: 10px;
}

/* #######  MAIN CONTENT ###### */
.list {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
h2 {
  text-align: left;
  padding: 20px;
}
h4 {
  text-align: left;
  padding: 20px;
}
h5 {
  color: var(--text-secondary-color);
}

#box-card {
  display: flex;
  flex-wrap: wrap;
}
.box {
  display: flex;
}
.card {
  width: 200px;
  height: 250px;
  text-align: center;
  padding: 20px;
  line-height: 2;
}
img {
  width: 100%;
}

/* ##### APP PLAYER */

#app-player {
  height: var(--player-height);
  background-color: var(--player-bg-color);
}

/* ##### MEDIA QUERY SMALL MOBILE #####  */

@media screen and (min-width: 576px) {
  #app-navbar .logo {
    display: none;
  }
}
/* ##### MEDIA QUERY  -MD- tablet  768 #####  */

/* **** custom props***** */

@media screen and (min-width: 768px) {
  #app-navbar {
    width: var(--app-navbar-expanded);
  }

  /* **** Utils***** */
  .d-none-md {
    display: none;
  }

  .d-block-md {
    display: block;
  }

  /* **** Navbar***** */
  #app-navbar .logo {
    display: block;
  }
  #app-navbar .logo-small {
    display: none;
  }

  #app-navbar .logo.box,
  #app-navbar .navbar-item .playlist {
    display: block;
  }

  #app-navbar .navbar-img-link,
  .navbar-text-link {
    display: inline;
  }

  #app-navbar .navbar-text-link {
    display: inline;
  }

  #app-navbar .playlist {
    display: block;
  }
}

/* ##### MEDIA QUERY LARGE desktop 992 #####  */
@media screen and (min-width: 992px) {
}
